//
// Variables
// --------------------------------------------------

// images path
// --------------------------------------------------

$image-path: '../../../images/';

//$image-path: 'http://h5.380star.com/life/assets/images/';

// Global values

$scale: 1;
$max-width: 750px;

// --------------------------------------------------

//Colors

// Grays
// -------------------------

$gray-darker: lighten(#000, 13.5%) !default;
// #222
$gray-dark: lighten(#000, 20%) !default;
// #333
$gray: lighten(#000, 33.5%) !default;
// #555
$gray-light: lighten(#000, 60%) !default;
// #999
$gray-lighter: lighten(#000, 93.5%) !default;
// #eee

// Brand colors
// -------------------------

$brand-primary: #428bca !default;

//common colors
// -------------------------
$col-bg: #f2f2f2 !default;
$col-disabled: #b2b2b2 !default;
$col-white: #FFFFFF !default;
$col-thinblue: #5EC9F1 !default;
$col-thinred: #FD6D64 !default;
$col-darkblue: #1AA8B2 !default;
$col-orange: #F7934A !default;
$col-lightgreen: #AEC688 !default;
$col-border: #D8D8D8 !default;
$col-333: #333 !default;
$col-9b: #9b9b9b !default;

$col-red: #FA5E71 !default;
$col-gray: #f2f2f2 !default;
$col-d8: #d8d8d8 !default;
$col-888: #888 !default;
$col-b2: #b2b2b2 !default;
$col-f2: #f2f2f2 !default;
$col-9e: #9e9e9e !default;

// Scaffolding
// -------------------------

$body-bg: #fff !default;
$text-color: $gray-dark !default;

$list-bg:#323b46;
$list-border-color:#4d545d;
$list-text-color:#c9c4c3;
// Links
// -------------------------

$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;

// Typography
// -------------------------

$font-family-sans-serif: "msyh","Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 0.28rem !default;
$font-size-middle: 0.3rem !default;
$font-size-large: 0.32rem !default;
// ~18px
$font-size-small: 0.26rem !default;
// ~12px

$font-size-h1: floor($font-size-base * 2.6) !default;
// ~36px
$font-size-h2: floor($font-size-base * 2.15) !default;
// ~30px
$font-size-h3: ceil($font-size-base * 1.7) !default;
// ~24px
$font-size-h4: ceil($font-size-base * 1.25) !default;
// ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil($font-size-base * 0.85) !default;
// ~12px

$line-height-base: 1.428571429 !default;
// 20/14
$line-height-computed: floor($font-size-base * $line-height-base) !default;
// ~20px

// m-store Obj
// main color
$col-main: $col-red;
$col-blue: #066B89;
$col-gray: #f2f2f2;
$col-d8: #d8d8d8;

$designWidth: 640;
//px2rem
@function pr($px){
  @return $px*320/$designWidth/20 + rem;
}

//input
$input-bg:#2c333e;
$input-color:#c9caca;
$input-radius:0.1rem;
$input-height:0.72rem;
$input-btn-line-height:0.72rem;
$input-btn-padding-x:0.2rem;
$input-btn-padding-y:0;
$input-placeholder-color: #666;
$input-border-color:#8f9298;
$input-box-shadow:0;
$input-disabled-bg:#f0f0f0;
$input-transition:'';


$btn-bg: #7cb2f1;
$btn-color: -webkit-linear-gradient(90deg,#ff3c1b, #f86248);