
.agent-wrap {
    background: #F6F4FB;
    min-height: 100vh;
    padding-bottom: 1rem;
    .van-tab {
        min-width: 2.7rem;
    }
    .van-tabs__wrap {
        overflow: auto;
    }
    .mine-info {
        background:linear-gradient(180deg,rgba(213,28,51,1) 0%,rgba(197,29,36,1) 100%);
        box-shadow:0px 3px 6px 0px rgba(84,105,119,0.05);
        position: relative;
        padding: 0.4rem 0.4rem 0.5rem 0.4rem;
        margin-top: -0.01rem;

        .info-top {
            display: flex;
            margin-top: 0.2rem;
            align-items: flex-end;
            .bottom-left {
               
                div:nth-of-type(1) {
                    color: #F6C0C4;
                    font-size: 0.26rem;
                    display: flex;
                    align-items: center;
                    height: 0.6rem;
                    img {
                        width: 0.42rem;
                        margin-left: 0.2rem;
                        opacity: 0.7;
                    }
                }
                div:nth-of-type(2),div:nth-of-type(3) {
                    color: #F6C0C4;
                    font-size: 0.26rem;
                    display: flex;
                    align-items: center;
                    height: 0.6rem;
                }
                .amount {
                   color: #F8E71C;
                   font-size: 0.32rem;
                   margin-left: 0.2rem;
               } 
            }
            .bottom-right {
                flex: 1;
                text-align: right;
                position: absolute;
                right: 0.3rem;
                span {
                     color: #EFEFEF;
                     font-size: 0.22rem;
                     text-decoration: underline;
                }
               
            }
        }
        .info-bottom {
            display: flex;
            margin-top: 0.5rem;
            div {
                flex: 1;
                margin-right: 0.3rem;
                position: relative;
                
                .info-text {
                    position: absolute;
                    left: 0.8rem;
                    top: 0.55rem;
                    color: #fff;
                    font-size: 0.28rem;
                }
          
                img {
                    width: 100%;
                }
            }
            .gray {
                background: gray;
                border-radius: 0.12rem;
            }
            div:nth-of-type(2) {
                margin-right: 0;
            }
        }
    }
    
    
    .van-tabs__nav--line {
        background: #F6F4FB;
        .van-tab--active {
            font-weight: bold;
        }
    }
    
   
    
    //开户
    .open-account {
        background:rgba(255,255,255,1);
        box-shadow:0px 3px 6px 0px rgba(84,105,119,0.05);
        border-radius:0.16rem;
        margin: 0.3rem 0.3rem 0 0.3rem;
        padding: 0.4rem 0.4rem;
        .account-wrap {
            margin-top: 0.3rem;
            .wrap-title {
                font-size: 0.22rem;
            }
            .tips {
                font-size: 0.16rem;
                color: #A39F9F;
                margin-top: 0.15rem;
            }
        }
        .account-wrap:nth-of-type(2) {
            input::-webkit-input-placeholder {
                color: #E0DDDD;
            }
        }

            .van-cell {
                padding: 0.13rem 0 0.07rem 0;
                border-bottom: 1px solid #2F2F2F;
                font-size: 0.3rem;
                
            }
            .van-field__error-message {
        //      color: #A39F9F;
                font-size: 0.2rem;
            }
      
            .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after, {
                border-width:0!important;
            }
            
            
            .account-btn {
                margin-top: 0.6rem;
                .btn-top {
                    .van-radio-group {
                        display: flex;
                        .van-radio {
                            flex: 1;
                        }
                    }
                }
                .btn-bottom {
                    margin-top: 0.5rem;
                    .van-button--large {
                        height: 0.8rem;
                        line-height: 0.8rem;
                    }
                }
            }

    }
        
        
     //注册链接
                 
            
            .registration-link {
                background:rgba(255,255,255,1);
                box-shadow:0px 3px 6px 0px rgba(84,105,119,0.05);
                border-radius:0.16rem;
                margin: 0.3rem 0.3rem 0 0.3rem;
                padding: 0.3rem 0.3rem;
                .link-block {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding: 0.45rem 0.1rem 0.45rem 0.3rem;
                    background:rgba(242,235,235,1);
                    border-radius:0.1rem;
                    margin-bottom: 0.3rem;
                    .copy-btn {
                        position: absolute;
                        right: 0.1rem;
                        top: 0.1rem;
                        font-size: 0.22rem;
                        color: #0025F3;
                        padding: 0.1rem 0.15rem;
                    }
                    .no-copy {
                        position: absolute;
                        right: 0.1rem;
                        top: 0.1rem;
                        font-size: 0.22rem;
                        color: gray;
                        padding: 0.1rem 0.15rem;
                    }
                    .block-left {
                        margin-right: 0.2rem;
                        img {
                            width: 0.54rem;
                        }
                        .iconcopy {
                            font-size: 0.5rem;
                            color: #999;
                        }
                    }
                    .block-center {
                        p:nth-of-type(1) {
                            font-size: 0.22rem;
                            color: #A39F9F;
                            margin-bottom: 0.07rem;
                        }
                        p:nth-of-type(2) {
                            font-size: 0.22rem;
                            color: #A39F9F;
                            margin-left: -0.24rem;
                            margin-bottom: 0.07rem;
                            .iconfont {
                                font-size: 0.25rem;
                                color: red;
                                margin-right: -0.1rem;
                            }
                        }
                        p:nth-of-type(3) {
                            font-weight: 0.26rem;
                            font-weight: 600;
                            word-break: break-all;
                        }
                    }
                }
                .link-block:nth-last-of-type(1) {
                    margin-bottom: 0;
                }
                
                
                .promote-qrCode {
                    text-align: center;
                    margin-top: 0.4rem;
                    min-height: 3.5rem;
                    .van-loading {
                        margin-top: 1.5rem;
                    }
                    p {
                        text-align: left;
                        color: #A39F9F;
                        font-size: 0.25rem;
                    }
                    img {
                        width: 70%;
       
                    }
                }
            }
            
            
            .team-sales {
                background:rgba(255,255,255,1);
                box-shadow:0px 3px 6px 0px rgba(84,105,119,0.05);
                border-radius:0.16rem;
                margin: 0.3rem 0.3rem 0 0.3rem;
                padding: 0.3rem 0;
                .calendar {
                    display: flex;
                    align-items: center;
                    padding: 0 0.3rem;
                    .iconrili {
                        font-size: 0.58rem;
                        color: #C81F27;
                    }
                    div {
                        background:rgba(240,239,239,1);
                        border-radius:0.3rem;
                        font-size: 0.22rem;
                        color: #696969;
                        padding: 0.15rem 0.3rem;
                        margin-left: 0.1rem;
                        flex: 1;
                        text-align: center;
                    }
                }
                .time-btn {
                    display: flex;
                    margin-top: 0.25rem;
                    padding: 0 0.3rem;
                    div {
                        flex: 1;
                        border-radius: 0.3rem;
                        background: #E4E4E6;
                        padding: 0.15rem 0;
                        text-align: center;
                        font-size: 0.23rem;
                        margin-right: 0.2rem;
                        color: #696969;
                    }
                    div:nth-last-of-type(1) {
                        margin-right: 0;
                    }
                    div:active {
                        background: rgba(243,143,143,0.4);
                    }
                }
                
                .sales-list {
                    margin-top: 0.2rem;
                    padding: 0 0.15rem;
                    .list-title {
                        display: flex;
                        padding: 0.17rem 0.15rem;
                        font-weight: 600;
                        span {
                            flex: 2;
                            text-align: center;
                            color: #666666;
                            font-size: 0.22rem;
                        }
                        span:nth-of-type(1) {
//                          flex: 1;
                        }
                    }
                    .list-cell {
                        display: flex;
                        background: #FAF7FA;
                        padding: 0.17rem 0.15rem;
                        border-bottom: 1px dashed #fff;
                        span {
                            flex: 2;
                            text-align: center;
                            color: #666666;
                            font-size: 0.22rem;
                        }
                        span:nth-of-type(1) {
//                          flex: 1;
                            font-weight: 600;
                        }
                        span:nth-of-type(2) {
                            color: #FF841D;
                        }
                        span:nth-of-type(3) {
                            color: #417505;
                        }
                        span:nth-of-type(4) {
                            color: #CC1D2A;
                        }
                    }
                    .list-cell-a {
                        span:nth-of-type(1) {
                            text-decoration: underline;
                            color: #6d6de8;
                        }
                    }
                    .list-cell-bottom {
                        display: flex;
                        justify-content: center;
                        font-size: 0.27rem;
                        color: #CC1D2A;
                        background: #FAF7FA;
                        padding: 0.25rem 0;
                        position: relative;
                        font-weight: 600;
                        .iconwenhao {
                            position: absolute;
                            right: 0.1rem;
                            font-size: 0.42rem;
                            top: 0.18rem;
                            font-weight: normal;
                        }
                    }
                }
            }
            
            
            
            .question-popup {
                position: fixed;
                width: 80%;
                left: 10%;
                top: 25%;
                z-index: 99999999999;
                border-radius: 0.2rem;
                transition: all 0.3s;
                background: #D51B31;
                .iconguanbi1 {
                    position: absolute;
                    bottom: -1rem;
                    left: 45%;
                    font-size: 0.55rem;
                    color: #fff;
                }
                .question-title {
                    text-align: center;
                    font-size: 0.32rem;
                    color: #030303;
                    padding: 0.15rem 0;
                    font-weight: 600;
                    
                    color: #fff;
                    border-top-right-radius: 0.2rem;
                    border-top-left-radius: 0.2rem;
                    background: url(../../assets/images/logo.png);
                    position: relative;

                }
               
            }
    .pop-up-bg {
        z-index: 999999999!important;
    }
    
    
    
    .promote-popup {
        padding: 0.3rem 0.4rem;
        min-height: 6rem;
        transition: all 0.3s;
        .iconguanbi1 {
            position: absolute;
            right: 0.2rem;
            top: 0.2rem;
            font-size: 0.45rem;
            color: #dbd7d7;
        }
        .promote-avatar {
            display: flex;
            align-items: center;
            img {
                width: 1rem;
            }
            .promote-avatar-right {
                margin-left: 0.2rem;
                font-size: 0.26rem;
                color: #515151;
                .iconfont {
                    font-size: 0.26rem;
                    margin-left: 0.07rem;
                    color: #000000;
                }
            }
        }
        
        .promote-time {
            font-size: 0.26rem;
            color: #515151;
            margin-top: 0.25rem;
            border-bottom: 1px solid #d2cfcf;
            padding-bottom: 0.3rem;
            
            div {
                line-height: 0.45rem;
            }
        }
        
        .promote-amount {
            font-size: 0.26rem;
            color: #515151;
            margin-top: 0.3rem;
            padding-bottom: 0.2rem;
            div {
                line-height: 0.45rem;
                display: flex;
                p:nth-of-type(2) {
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }
    
    .promote-popup-overlay {
        z-index: 11111!important;
        background-color: rgba(0,0,0,.2);
    }
     .question-wrap {
        margin: 0.4rem 0.3rem;
        padding: 0.2rem 0.27rem;
        background: #fff;
        border-radius: 0.2rem;
        p {
            line-height: 0.43rem;
            color: #999;
            font-size: 0.27rem;
            margin-bottom: 0.15rem;
        }
        p:nth-of-type(1) {
            font-weight: 600;
            color: #404040;
        }
    }
    
    
    
    
    
    //推广员系统引导
    .guide-0 {
        top: 3.5rem;
        p {
            height: 1.5rem;
        }
        .iconxiangxia {
            left: 9%;
            bottom: -32%;
        }
    }
    
    .guide-1 {
        top: 6rem;
        p {
            height: 1.5rem;
        }
        .iconxiangxia {
            left: 48%;
            bottom: -32%;
        }
    }
    .guide-2 {
        top:7.8rem;
        p {
            height: 1rem;
        }
        .iconxiangshang {
            right: 18%;
            top: -32%;
        }
    }
    .guide-3 {
        top: 45%;
        p {
            height: 1rem;
        }
        .iconxiangxia {
            left: 48%;
            bottom: -32%;
        }
    }
    .guideActive {
        z-index: 9999999;
        background: #fff;
        box-shadow: 0px 0px 5px -1px #d5d5d5;
    }
    .guideActiveA {
        color: #fff!important;
        z-index: 9999999;
    }
}
