    .tickets-wrap {
        background: #F6F4FB;
        min-height: 100vh;
        .lottery-notice {
            position: fixed;
            top: 1.05rem;
            width: 100%;
            z-index: 999;
        }
        .tickets-top {
            display: flex;
            margin: 0.2rem 0.3rem 0.2rem 0.3rem;
            div:nth-of-type(1) {
                display: flex;
                align-items:center;
                span {
                    color: #D0021B;
                    font-weight: 600;
                }
                
                .iconfont {
                    color: #CD031D;
                    font-size: 0.4rem;
                    margin-right: 0.05rem;
                }
            }
            div:nth-of-type(2) {
                flex: 1;
                text-align: right;
                img {
                    width: 0.4rem;
                }
            }
        }
        
        
        
        
        .tickets-list {
            margin: 0.2rem 0.3rem;
            .tickets-list-wrap {
                background:#fff;
                box-shadow:0px 0px 5px 0px rgba(0,0,0,0.07);
                border-radius:3px;
                padding: 0.3rem 0.12rem;
                margin-bottom: 0.3rem;
                .wrap-title {
                    display: flex;
                    align-items: center;
                    padding: 0 0.2rem;
                    div:nth-of-type(1) {
                        color: #696969;
                        font-size: 0.26rem;
                    }
                    div:nth-of-type(2) {
                        font-size: 0.24rem;
                        flex: 1;
                        text-align: right;
                        span:nth-of-type(1) {
                            color: #898989;
                        }
                        span:nth-of-type(2) {
                            color: #FF7000;
                        }
                    }
                }
                
                .wrap-list {
                    .list-cell {
                        background:rgba(245,245,245,1);
                        border-radius:4px;
                        border:1px dashed rgba(228,228,228,1);
                        margin-top: 0.2rem;
                        padding: 0.2rem 0;
                        .van-cell {
                            background: initial;
                            padding: 0 0.2rem;
                        }
                         .van-collapse-item__content {
                            padding: 0 0 0.2rem 0;
                            background: whitesmoke;
                        }
                        .van-cell__right-icon {
                            position: absolute;
                            right: 0.2rem;
                            top: 0.1rem;
                        }
                        .cell-type {
                            padding: 0 0.2rem 0.1rem 0.2rem;
                            color: #999;
                            font-size: 0.25rem;
                        }
                        .right-text {
                            position: absolute;
                            right: 0.6rem;
                            font-size: 0.25rem;
                            top: 0.1rem;
                            color: #999;
                        }
                        .cell-top {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 0.2rem;
                            div {
                                flex: 0 0 14.2%;
                                display: flex;
                                justify-content: center;
                                margin-bottom: 0.17rem;
                                span {
                                    background: #fff;
                                    border:1px solid rgba(205,204,202,1);
                                    border-radius: 100%;
                                    height: 0.7rem;
                                    width: 0.7rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }

 
                            }
                            div:nth-of-type(2) {
                                span {
                                    color: #3EA63E;
                                }  
                            }
                        }
                        .cell-bottom {
                            display: flex;
                            font-size: 0.22rem;
                            padding: 0 0.2rem;
                            .bottom-left {
                                .wait-pay {
                                    text-decoration: underline;
                                    color: blue;
                                }
                                span:nth-of-type(1) {
                                    color: #A7A7A7;
                                }
                                span:nth-of-type(2) {
                                    color: #D0021B;
                                }
                            }
                            .bottom-right {
                                flex: 1;
                                text-align: right;
                                span:nth-of-type(1) {
                                    color: #A7A7A7;
                                    margin-right: 0.2rem;
                                    b {
                                        font-weight: normal;
                                        color: #D0021B;
                                    }
                                }
                                span:nth-of-type(2) {
                                    color: #A7A7A7;
                                }
//                              span:nth-of-type(3) {
//                                  color: #D0021B;
//                              }
                            }
                        }
                    }
                }
            }
            
        }
        
        
        .guide-6 {
            top: 14%;
            p {
                height: 1rem;
            }
            .iconxiangshang {
                right: 30%;
                top: -30%;
            }
   
        }
        
         .guide-8 {
            top: 18%;
            p {
                height: 1.5rem;
            }
//          
//          .iconxiangshang {
//              right: 4%;
//              top: -30%;
//          }
   
        }
        
        
        .guide-9 {
            bottom: 1.8rem;
            p {
                height: 1rem;
            }
//          
            .iconxiangxia {
                right: 46%;
                bottom: -30%;
            }
    
        }

    }
 
 
 




